footer.footer
    .container
        .footer__wrapper
            ul.footer__list
                li.footer__item
                    a(href="#") Facebook
                li.footer__item
                    a(href="#") Instagram
                li.footer__item
                    a(href="#") Twitter 