header.header
    .container
        nav.main-nav
            ul.main-nav__list
                li.main-nav__item
                    a(href="#") Home
                li.main-nav__item
                    a(href="#") Style Hair
                li.main-nav__item
                    a(href="#") Models 
                li.main-nav__item
                    a(href="#") Shop 
                li.main-nav__item
                    a(href="#") Contact

            a.basket-link(href="#") 
                .basket
            