main.content
    .container
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .swiper-text
                        h1.swiper-text__title Relax, Look Great, Feel Confident
                        p.swiper-text__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non felis non at&nbsp;tristique. Est ante magna diam magna pharetra. Turpis sagittis consectetur est, integer sed. Sagittis malesuada tellus diam sapien platea.
                        .swiper-text__btn
                            a(href="#") Shopping Now
                    img.swiper-slide__img(src="img/TheBestHairStyle2021.png", alt="The Best Hair Style 2021")

                    .group1
                    .group2

            .swiper-pagination

            .swiper-button-prev
            .swiper-button-next

            .swiper-scrollbar
